.jokeContainer {
    background-color: rgb(11, 182, 11);
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 40vh;

    div{
        color: black;
        background-color: white;
        display: grid;
        justify-content: center;
        width: 60%;
        text-align: center;
        min-width: 30vh;
        box-shadow: 6px 9px 12px rgb(0,0,0.75);

        h5{
            font-size: 1.1rem;
        }
        p{
            font-size: 1rem;
        }
    }
}